<% content_for :page_header do %>
  <h2 class="page-title">
    <%= @convict.name %>
  </h2>
<% end %>

<div class="page-content">
  <h3>About</h3>
  <p><%= @convict.description %></p>

  <h3>Other Information</h3>
  <p>
  <strong>Boat:</strong> <%= link_to @convict.boat, convicts_path(:boat =>  @convict.boat) %><br/>
  TODO add the rest + map of origin and destination
  </p>
</div>
