#convict-search-form {
  margin: 65px 0px 0px 205px;
}

#convict-search-form label {
  color: #CCC;
}

#convicts-table table {
  width: 100%;
}

.pagination {
  padding: 10px 0 10px 0;
  text-align: right;
}

.pagination-info {
  float: left;
}
