#convict-search-form label {
  color: #CCC;
}

#convict-search-form input[type=search] {
  height: 12px;
}

#convicts-table table {
  width: 100%;
}

.pagination {
  padding: 10px 0 10px 0;
  text-align: right;
}

.pagination-info {
  float: left;
}

.bordered {
  border: 1px solid #EEE;
  padding: 10px;
  clear: both;
}

#departure-date-page-container {
  clear:both;
  position: relative;
  height: 1800px;
}

#year-graph-container {
  position: absolute;
  left: 5px;
  top: 5px;  
  width: 700px;
}

#month-graph-container {
  position: absolute;
  left: 5px;
  top: 400px;  
  width: 700px;
} 
 
#decades-graph-container {
  position: absolute;
  left: 5px;
  top: 850px;  
  width: 700px;
}

#year-table-container {
  position: absolute;
  right: 5px;
  top: 5px;  
  width: 230px;
}

#year-table-container table {
  width: 100%;
}

.widget-section-title {
  border-bottom: 1px solid #EEE;
}

.widget-title-graph-icon {
  background: url(images/graph_icon_16.png) left no-repeat; 
  background-size: 16px;
}

.widget-title-table-icon {
  background: url(images/table_icon_16.png) left no-repeat; 
  background-size: 16px;  
}

.widget-title-map-icon {
  background: url(images/map_icon_16.png) left no-repeat; 
  background-size: 16px;  
}

.widget-title-text-icon {
  background: url(images/text_icon_16.png) left no-repeat; 
  background-size: 16px;  
}



#data-table {
  padding-top: 5px;
}

#boats-table-container {
  clear: both;
}

#boats-table-container table {
  width: 100%;
}

.graphs-container {
  clear:both;
  position: relative;
  height: 430px;
}

#top-boats-graph-container {
  width: 450px;
  position: absolute;
  left: 5px;
  top 5px;  
}

#boats-bubble-graph-container {
  width: 450px;
  position: absolute;
  right: 10px;
  top 5px;
}

#boats-bubble-graph-container .notes {
  text-align: center;
}

p.notes {
  font-style:italic;
}

#destinations-page-container {
  clear:both;
  position: relative;
  height: 650px;
}

#destinations-table-container {
  position: absolute;
  left: 5px;
  top: 395px;
  width: 950px;
}

#destinations-table-container table {
  width: 100%;
}

#destinations-map-container {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 500px;
}

#destinations-donut-container {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 440px;
}

#court-counties-page-container {
  clear:both;
  position: relative;
  height: 2435px;
}

#counties-map-container {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 320px;
}

#top-conviction-container {
  position: absolute;
  left: 5px;
  top: 5px;
  height: 490px;
  width: 610px;
}

#courty-table-container {
  position: absolute;
  left: 5px;
  top: 510px;
  width: 950px;
}

#courty-table-container table {
  width: 100%;
}

#home-page-container {
  clear: both;
  position: relative;
  height: 1200px;
}

#home-page-container #year-graph-container {
  width: 620px;
  top: 655px;
}

#home-page-container #destinations-map-container {
  top: 5px;
  width: 470px;
}

#home-page-container #boats-bubble-graph-container {
  top: 5px;
}

#home-page-container #counties-map-container {
  top: 655px;
}

#site-map-container {
  position: absolute;
  top: 450px;
  left: 5px;
  width: 100%;
}

.overclear {
	width: 100%;
	overflow: hidden;
}

.row {
  position: relative;
}

#rotator {
  position: absolute;
  right: 10px;
  bottom: 0px;
}

#rotator input, select {
  vertical-align:text-top;
}

.action-button {
	text-shadow: 0 1px 0 #fff;
  font-weight: bold;
	background: #eef0f2 url(images/feature-li-bg.png) repeat-x bottom left;
	border: 1px solid #aaa;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
  height: 20px;
  padding: 1px 20px 5px 20px;
}

.action-button:hover {
	border: 1px solid #c9c9c9;
	background: #f3f5f7 url(images/feature-li-bg-hover.png) repeat-x bottom left;
}

#home-intro-text {
  text-align: justify;
}

#about-page-container {
  clear: both;
}

#search-convicts-link, #departure-dates-link, #boats-link, #court-counties-link, #destinations-link {
  display: block;
  float: left;
  margin-top: 9px;
  padding: 135px 10px 5px;
  width: 140px;
  text-align: center;
  font-weight: bold;
}

#search-convicts-link {
  margin-left: 75px;
  background: url(images/convicts_128.png) top center no-repeat; 
}

#departure-dates-link{
  background: url(images/departure_dates_128.png) top center no-repeat; 
}

#boats-link {
  background: url(images/boats_128.jpg) top center no-repeat; 
}

#court-counties-link {
  background: url(images/conviction_counties_128.png) top center no-repeat; 
}

#destinations-link {
  background: url(images/destinations_128.png) top center no-repeat; 
}

.about-container {
  margin-bottom: 20px;
}

#terms-page-container {
  clear:both;
  position: relative;
}
