#convict-search-form {
  margin: 65px 0px 0px 205px;
}

#convict-search-form label {
  color: #CCC;
}

#convicts-table table {
  width: 100%;
}

.pagination {
  padding: 10px 0 10px 0;
  text-align: right;
}

.pagination-info {
  float: left;
}

.bordered {
  border: 1px solid #EEE;
  padding: 10px;
  clear: both;
}

#year-graph-container, #month-graph-container, #decades-graph-container{
  float: left;
  width: 700px;
}

#year-table-container {
  float: right;
}

.widget-section-title {
  border-bottom: 1px solid #EEE;
}

.widget-title-graph-icon {
  background: url(images/graph_icon_16.png) left no-repeat; 
  background-size: 16px;
}

.widget-title-table-icon {
  background: url(images/table_icon_16.png) left no-repeat; 
  background-size: 16px;  
}

#data-table {
  padding-top: 5px;
}

#boats-table-container {
  clear: both;
}

#boats-table-container table {
  width: 100%;
}

.graphs-container {
  clear:both;
  position: relative;
  height: 410px;
}

#top-boats-graph-container {
  width: 450px;
  position: absolute;
  right: 10px;
  top 5px;  
}

#boats-bubble-graph-container {
  width: 450px;
  position: absolute;
  left: 5px;
  top 5px;
}
