<% content_for :page_header do %>
  <h2 class="page-title">About</h2>
<% end %>

<div id="about-page-container">
  <div id="overview-container" class="widget">
    <h3 class="widget-section-title widget-title-text-icon">Overview</h3>
    <%= render :partial => 'overview_text' %> 
  </div>
</div>
