<% content_for :page_header do %>
  <div id="text-3" class="widget widget_text">			
    <div class="textwidget">
      TODO describe Conviz here
    </div>
	</div>
<% end %>

<div class="clear: both;">
  TODO Graphs and stuff here
</div>
