<h1>Boats</h1>
<% unless @boats.empty? %>

  <div id="data-table"></div>

  <script>
    /*
    YUI({ filter: 'raw' }).use("datatable-base", function (Y) {
      var columns = ["boat","convicts", "voyage_count"];
      var tableData = <%= raw @boats.to_json %>;

      datatable = new Y.DataTable.Base({columnset:columns, recordset:tableData, summary:"Boats"}).render("#data-table");
    });
    */
  </script>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Convicts</th>
        <th>Voyages</th>
      </tr>
    </thead>
    <tbody>
      <% @boats.each do |boat_map| %>
        <tr>
          <td><%= link_to(boat_map[:boat], convicts_path(:boat => boat_map[:boat])) %></td>
          <td><%= boat_map[:convicts] %></td>
          <td><%= boat_map[:voyage_count] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No boats</p>
<% end %>
